 * {
    margin: 0;
    padding: 0;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 80%;
}

.wrapper {
    height: 700px;
    width: 100%;
    max-width: 450px;
    margin: 120px auto;
    background: #9d9f9f;
    border-radius: 25px;
    padding: 25px;
}

.input-box {
    width: 100%;
    background:whitesmoke;
    border: 1px solid black;
    margin: 6px 0;
    height: 52px;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: left;
    color: black;
}
.card .a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1px;
    margin-top: 8px;
}
span {
    font-size: 13px;
    margin-left: 10px;
}
.submit-btn {
    position: relative;
}
button {
    width: 20%;
    background:whitesmoke;
    border: 1px solid black;
    height: 52px;
    font-size: 12px;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    color: black;
    cursor: pointer;
}
::placeholder {
    font-size: 12px;
}

.card h2 {
    font-weight:800;
    font-size: 24px;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 50px;
}
p{
    font-size: 18px;
    font-weight:600;
}
