body {
    font: 14px sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 500px;
    margin: 120px auto;
    background: #9d9f9f;
    border-radius: 25px;
    padding: 25px;
}
label {
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-control:focus {
    border-color: #7b49bd;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

#logo {
    width: 40px;
}

a {
    cursor: pointer;
}