.wrapper{
    width: 100%;
    max-width: 500px;
    margin: 120px auto;
    background: #9d9f9f;
    border-radius: 25px;
    padding: 25px;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
    color: #FFF;
    text-shadow: none;
    border: 3px solid black;

}
.main {
    padding: 20px 0;
}

.main input,
.main input::-webkit-input-placeholder {
    font-size: 20px;
    padding-top: 3px;
}



span.input-group-addon i {
    color: #202122;
    font-size: 17px;
}

a.button6 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #5c5a5a;
    background-color: #101011;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}
.form-control{
    border-radius: 10px;
}

a.button6:active {
    top: 0.1em;
}

@media all and (max-width:30em) {
    a.button6 {
        display: block;
        margin: 0.4em auto;
    }
}